@use "variable" as *;
@use "mixin" as *;

// el-message
.el-message {
  top: 0 !important;
  width: 480px;
  height: $app-title-height;
  border: none;
  border-radius: 0 0 var(--el-border-radius-base) var(--el-border-radius-base);
  color: var(--el-color-white);
  
  .el-message__icon {
    color: var(--el-color-white);
  }
  
  .el-message__content {
    color: var(--el-color-white);
    
    p {
      padding: 0 0 0 0;
    }
  }
  
  &--success {
    background-color: var(--el-color-success);
  }
  
  &--warning {
    background-color: var(--el-color-warning);
  }
  
  &--error {
    background-color: var(--el-color-danger);
  }
  
  &--info {
    background-color: var(--el-color-info);
  }
  
  @include theme-d() {
    .el-message__icon {
      color: var(--el-text-color-primary);
    }
    .el-message__content {
      color: var(--el-text-color-primary);
    }
  }
}

// el-message-box
.el-message-box {
  border-radius: var(--el-border-radius-base);
}

// el-popover
.el-popover {
  border-radius: $border-radius-base;
}

// el-pagination
.el-pagination {
  margin-top: 16px;
  text-align: right;
  
  &.is-background {
    .btn-next,
    .btn-prev,
    .el-pager li {
      border-radius: var(--el-border-radius-small);
    }
  }
}

// el-tag__close
.el-tag__close {
  color: var(--el-text-color-regular) !important;
}

// el-drawer
.el-drawer {
  box-shadow: $box-shadow-dark;
  
  .el-drawer__body {
    display: flex;
    
    .drawer-content {
      flex: 1;
    }
  }
}

// el-color-picker
.el-color-picker {
  height: 32px;
  
  .el-color-picker__trigger {
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    
    .el-color-picker__color {
      border: none;
      
      .el-color-picker__color-inner {
        width: 32px;
        height: 32px;
        border: 2px solid var(--el-border-color-base);
        border-radius: var(--el-border-radius-base);
      }
    }
    
    &:hover {
      .el-color-picker__color {
        .el-color-picker__color-inner {
          border-color: var(--el-border-color-hover);
        }
      }
    }
  }
}

// el-backtop
.el-backtop {
  position: fixed;
  right: 0 !important;
  background-color: var(--el-color-white);
  width: 40px;
  height: 40px;
  border-radius: var(--el-border-radius-base) 0 0 var(--el-border-radius-base);
  color: var(--el-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow: $real-shadow-base;
  cursor: pointer;
  z-index: 5;
}

// el-descriptions
.el-descriptions__content-align-top {
  vertical-align: top;
}

// v-modal
.v-modal {
  background-color: $modal-background-color;
}

// el-dialog
.el-dialog {
  box-shadow: $real-shadow-base;
}

// .el-range-editor
.el-range-editor .el-range-input {
  background-color: var(--el-color-white);
}

// .el-overlay
.el-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

// .el-tree
.el-tree {
  background: none;
}

// nprogress
#nprogress {
  .bar {
    background: var(--el-color-primary) !important;
  }
  
  .peg {
    display: none !important;
  }
}

// fd-icon-btn
.fd-icon-btn {
  font-size: $icon-size-middle;
  border-radius: var(--el-border-radius-base) !important;
  border: none;
  padding: 0 7px !important;
  color: inherit;
  background: none;
  
  &:hover {
    color: inherit;
    background-color: var(--el-color-primary-light-9);
  }
  
  &:focus {
    color: inherit;
    background: none;
    
    &:hover {
      color: inherit;
      background-color: var(--el-color-primary-light-9);
    }
  }
  
  @include theme-d() {
    &:hover {
      background-color: var(--el-color-primary-light-5);
    }
    &:focus {
      &:hover {
        background-color: var(--el-color-primary-light-5);
      }
    }
  }
}

// fd-page
.fd-page {
  padding: 8px 16px 16px 16px;
  
  &.is-fix-height {
    display: flex;
    flex-direction: column;
  }
  
  &__sub-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 20px;
    padding: 0 0 0 16px;
    border-left: 3px solid var(--el-color-primary);
    margin-bottom: 32px;
    color: var(--el-text-color-regular);
    font-weight: $font-weight-bold;
    
    &.is-has-icon {
      border: none;
      
      .fd-icon {
        font-size: 24px;
        margin-right: 8px;
      }
    }
    
    .title-text {
      flex: 1;
      display: inline-block;
      height: 20px;
      line-height: 20px;
      overflow: hidden;
    }
    
    .title-brief {
      height: 20px;
      overflow: hidden;
      font-weight: normal;
    }
  }
  
  &__form {
    padding: 16px 16px;
    border: 1px solid var(--el-border-color-lighter);
    border-radius: var(--el-border-radius-base);
    background-color: var(--el-fill-base);
    margin-bottom: 8px;
  }
  
  &__query {
    @include expandTransition($default-transition-time);
  }
  
  &__action {
    display: flex;
    align-items: center;
    height: 32px;
    
    .action-right {
      margin-left: auto;
      display: flex;
      align-items: center;
    }
    
    .action-icon-btn {
      color: var(--el-text-color-placeholder);
      
      &:hover {
        color: var(--el-text-color-placeholder);
      }
    }
    
    .action-badge {
      sup {
        height: 12px;
        line-height: 12px;
        border: none;
        border-radius: 10px;
      }
    }
    
    .action-divider {
      margin: 0 8px;
      height: 32px;
    }
    
    .el-form-item {
      margin-bottom: 0;
    }
  }
}

// fd-page__table
.fd-page__table {
  width: 100%;
  padding: 24px 16px 24px 16px;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  background-color: var(--el-fill-base);
  border-radius: var(--el-border-radius-base);
  
  &.is-bordered {
    border: 1px solid var(--el-border-color-lighter);
  }
  
  // style fix
  .el-table th.gutter {
    display: table-cell !important;
  }
  
  .el-table thead {
    color: var(--el-text-color-regular);
  }
  
  // row focus box
  .el-table {
    .row-focus-box {
      position: absolute;
      display: none;
      border: 1px solid var(--el-color-primary);
      z-index: 5;
      pointer-events: none;
    }
  }
  
  // custom column
  .el-table {
    th.el-table__cell.is-custom {
      padding: 0;
      
      > .cell {
        position: absolute;
        display: flex;
        padding: 0;
        top: 0;
        bottom: 0;
        align-items: stretch;
      }
    }
  }
  
  // row density
  .el-table .cell .el-checkbox {
    height: 24px;
  }
  
  .el-table .el-table__body tr td {
    padding: 4px 0;
  }
  
  .el-table.is-den-high {
    .el-table__body tr td {
      padding: 2px 0;
    }
  }
  
  .el-table.is-den-low {
    .el-table__body tr td {
      padding: 8px 0;
    }
  }
  
  // icon, button
  .tb-icon {
    margin-top: 4px;
    font-size: $icon-size-middle;
  
    &.is-success {
      color: var(--el-color-success);
    }
  
    &.is-danger {
      color: var(--el-color-danger);
    }
  }
  
  .tb-act-btn {
    font-size: $icon-size-tiny;
    height: 28px;
    padding: 0 6px;
    
    &__caption {
      margin-left: 4px;
      margin-top: 2px;
    }
    
    & + .el-button {
      margin-left: 8px;
    }
  }
  
  .tb-avatar {
    display: flex;
    justify-items: center;
  }
}

// fd-icon
.fd-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  
  &.success {
    color: var(--el-color-success);
  }
  
  &.danger {
    color: var(--el-color-danger);
  }
  
  &:focus {
    outline: 0;
  }
  
  &.is-in-btn {
    margin: -1px 4px -1px 0;
    font-size: $icon-size-small;
    
    &.is-right {
      margin: -1px 0 -1px 4px;
    }
  }
  
  &.is-tip {
    color: var(--el-text-color-placeholder);
  }
  
  &.is-loading {
    animation: rotating 1s linear infinite;
  }
}

// fd-icon in el-input
.icon-in-input {
  padding: 0 0 0 4px;
  color: $color-text-primary;
  font-size: 16px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

// fd-detail-list
.fd-detail-list {
  width: 100%;
  padding: 0 8px;
  
  &__act {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
  }
  
  &__inner {
    margin: 0;
    padding: 0;
    
    li {
      padding: 8px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--el-border-color-base);
      
      &:last-child {
        border: none;
      }
    }
  }
  
  &__odd {
  }
  
  &__idx {
    width: 40px;
    padding-right: 4px;
    color: var(--el-color-primary);
    font-weight: bold;
  }
  
  &__item {
    padding: 0 4px;
    display: flex;
    align-items: center;
  }
}

// fd-dialog-footer
.fd-dialog-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  &__right {
    margin-right: 8px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

// fd-tree-panel
.fd-tree-panel {
  width: 100%;
  border: 1px solid var(--el-border-color-base);
  border-radius: var(--el-border-radius-base);
  padding: 8px;
  
  &__action {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--el-border-color-base);
  }
}

// sortable
.sortable-drag {
  cursor: move;
  span {
    display: flex;
    font-size: 18px;
    color: var(--el-border-color-base);
  }
}

.sortable-ghost {
  opacity: .3;
  color: #fff !important;
  background: var(--el-color-primary) !important;
}

// breadcrumb
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all 0.5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

//pagination
.fd-page__table {
  .el-pagination {
    align-self: center;
    padding: 24px 0 0;
    margin-top: 0;
  }
  
  .el-pagination {
    --el-pagination-font-size: 13px;
    --el-pagination-background-color: var(--el-color-white);
    --el-pagination-font-color: var(--el-text-color-primary);
    --el-pagination-border-radius: var(--el-border-radius-base);
    --el-pagination-button-color: var(--el-text-color-primary);
    --el-pagination-button-width: 35.5px;
    --el-pagination-button-height: 28px;
    --el-pagination-button-disabled-color: var(--el-text-color-placeholder);
    --el-pagination-button-disabled-background-color: var(--el-color-white);
    --el-pagination-hover-color: var(--el-color-primary);
    white-space: nowrap;
    color: var(--el-pagination-font-color);
    font-weight: 700
  }
  
  .el-pagination::after, .el-pagination::before {
    display: table;
    content: ""
  }
  
  .el-pagination::after {
    clear: both
  }
  
  .el-pagination button, .el-pagination span:not([class*=suffix]) {
    display: inline-block;
    font-size: var(--el-pagination-font-size);
    min-width: var(--el-pagination-button-width);
    height: var(--el-pagination-button-height);
    line-height: var(--el-pagination-button-height);
    vertical-align: top;
    box-sizing: border-box
  }
  
  .el-pagination .el-input__inner {
    text-align: center;
    -moz-appearance: textfield;
    line-height: normal
  }
  
  .el-pagination .el-input__suffix {
    transform: scale(.8)
  }
  
  .el-pagination .el-select .el-input {
    width: 110px;
    margin: 0 5px
  }
  
  .el-pagination .el-select .el-input .el-input__inner {
    height: var(--el-pagination-button-height);
    padding-right: 25px;
    border-radius: var(--el-pagination-border-radius);
  }
  
  .el-pagination button {
    border: none;
    padding: 0 6px;
    background: 0 0
  }
  
  .el-pagination button:focus {
    outline: 0
  }
  
  .el-pagination button:hover {
    color: var(--el-pagination-hover-color)
  }
  
  .el-pagination button:disabled {
    color: var(--el-pagination-button-disabled-color);
    background-color: var(--el-pagination-button-disabled-background-color);
    cursor: not-allowed
  }
  
  .el-pagination .btn-next, .el-pagination .btn-prev {
    background: center center no-repeat;
    background-size: 16px;
    background-color: var(--el-pagination-background-color);
    cursor: pointer;
    margin: 0;
    color: var(--el-pagination-button-color)
  }
  
  .el-pagination .btn-next .el-icon, .el-pagination .btn-prev .el-icon {
    display: block;
    font-size: 12px;
    font-weight: 700;
    width: inherit
  }
  
  .el-pagination .btn-prev {
    padding-right: 12px
  }
  
  .el-pagination .btn-next {
    padding-left: 12px
  }
  
  .el-pagination .el-pager li.disabled {
    color: var(--el-text-color-placeholder);
    cursor: not-allowed
  }
  
  .el-pagination__sizes {
    margin: 0 10px 0 0;
    font-weight: 400;
    color: var(--el-text-color-regular)
  }
  
  .el-pagination__sizes .el-input .el-input__inner {
    font-size: var(--el-pagination-font-size);
    padding-left: 8px
  }
  
  .el-pagination__sizes .el-input .el-input__inner:hover {
    border-color: var(--el-pagination-hover-color)
  }
  
  .el-pagination__total {
    margin-right: 10px;
    font-weight: 400;
    color: var(--el-text-color-regular)
  }
  
  .el-pagination__jump {
    margin-left: 24px;
    font-weight: 400;
    color: var(--el-text-color-regular)
  }
  
  .el-pagination__jump .el-input__inner {
    padding: 0 3px
  }
  
  .el-pagination__rightwrapper {
    float: right
  }
  
  .el-pagination__editor {
    line-height: 18px;
    padding: 0 2px;
    height: var(--el-pagination-button-height);
    text-align: center;
    margin: 0 2px;
    box-sizing: border-box;
    border-radius: var(--el-pagination-border-radius)
  }
  
  .el-pagination__editor.el-input {
    width: 50px
  }
  
  .el-pagination__editor.el-input .el-input__inner {
    height: var(--el-pagination-button-height)
  }
  
  .el-pagination__editor .el-input__inner::-webkit-inner-spin-button, .el-pagination__editor .el-input__inner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
  }
  
  .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
    margin: 0 5px;
    background-color: var(--el-color-gray-05);
    color: var(--el-text-color-regular);
    min-width: 28px;
    border-radius: var(--el-border-radius-base);
  }
  
  .el-pagination.is-background .btn-next.disabled, .el-pagination.is-background .btn-prev.disabled, .el-pagination.is-background .el-pager li.disabled {
    color: var(--el-text-color-placeholder);
    background-color: var(--el-disabled-bg-color);
  }
  
  .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev {
    padding: 0
  }
  
  .el-pagination.is-background .btn-next:disabled, .el-pagination.is-background .btn-prev:disabled {
    color: var(--el-text-color-placeholder)
  }
  
  .el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: var(--el-pagination-hover-color)
  }
  
  .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: var(--el-color-primary);
    color: var(--el-color-white)
  }
  
  .el-pagination.is-background.el-pagination--small .btn-next, .el-pagination.is-background.el-pagination--small .btn-prev, .el-pagination.is-background.el-pagination--small .el-pager li {
    margin: 0 3px;
    min-width: 22px
  }
  
  .el-pager {
    -webkit-user-select: none;
    user-select: none;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    padding: 0;
    margin: 0
  }
  
  .el-pager li {
    padding: 0 4px;
    background: var(--el-pagination-background-color);
    vertical-align: top;
    display: inline-block;
    font-size: var(--el-pagination-font-size);
    min-width: var(--el-pagination-button-width);
    height: var(--el-pagination-button-height);
    line-height: var(--el-pagination-button-height);
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    margin: 1px
  }
  
  .el-pager li.btn-quicknext, .el-pager li.btn-quickprev {
    line-height: 32px;
    color: var(--el-pagination-button-color)
  }
  
  .el-pager li.btn-quicknext.disabled, .el-pager li.btn-quickprev.disabled {
    color: var(--el-text-color-placeholder)
  }
  
  .el-pager li.btn-quicknext svg, .el-pager li.btn-quickprev svg {
    pointer-events: none
  }
  
  .el-pager li.btn-quickprev:hover {
    cursor: pointer
  }
  
  .el-pager li.btn-quicknext:hover {
    cursor: pointer
  }
  
  .el-pager li.active + li {
    border-left: 0
  }
  
  .el-pager li:focus-visible {
    outline: 1px solid var(--el-pagination-hover-color)
  }
  
  .el-pager li:hover {
    color: var(--el-pagination-hover-color)
  }
  
  .el-pager li.active {
    color: var(--el-pagination-hover-color);
    cursor: default
  }
}
