@use 'sass:math';

@use 'color' as color-def;
@use 'element-plus-dynamic-theme/theme-chalk/common/var' as common-var;
@use './variable' as *;

/* CSS variables
-------------------------- */

:root {
  --el-color-white: #{$color-white};
  --el-color-white-rgb: #{$color-white-rgb};
  --el-color-black: #{$color-black};
  --el-color-black-rgb: #{$color-black-rgb};
  
  --el-color-primary: #{$color-primary};
  @each $i in common-var.$color-depths {
    --el-color-primary-light-#{$i}: #{mix($color-white, $color-primary, math.percentage(math.div($i, 10)))};
  }
  --el-color-primary-dark-1: #{mix($color-black, $color-primary, 10%)};
  
  --el-color-success: #{$color-success};
  @each $i in common-var.$color-depths {
    --el-color-success-light-#{$i}: #{mix($color-white, $color-success, math.percentage(math.div($i, 10)))};
  }
  --el-color-success-dark-1: #{mix($color-black, $color-success, 10%)};
  
  --el-color-warning: #{$color-warning};
  @each $i in common-var.$color-depths {
    --el-color-warning-light-#{$i}: #{mix($color-white, $color-warning, math.percentage(math.div($i, 10)))};
  }
  --el-color-warning-dark-1: #{mix($color-black, $color-warning, 10%)};
  
  --el-color-danger: #{$color-danger};
  @each $i in common-var.$color-depths {
    --el-color-danger-light-#{$i}: #{mix($color-white, $color-danger, math.percentage(math.div($i, 10)))};
  }
  --el-color-danger-dark-1: #{mix($color-black, $color-danger, 10%)};
  
  --el-color-error: #{$color-error};
  @each $i in common-var.$color-depths {
    --el-color-error-light-#{$i}: #{mix($color-white, $color-error, math.percentage(math.div($i, 10)))};
  }
  --el-color-error-dark-1: #{mix($color-black, $color-error, 10%)};
  
  --el-color-info: #{$color-info};
  @each $i in common-var.$color-depths {
    --el-color-info-light-#{$i}: #{mix($color-white, $color-info, math.percentage(math.div($i, 10)))};
  }
  --el-color-info-dark-1: #{mix($color-black, $color-info, 10%)};
  
  @each $i in common-var.$gray-depths {
    @if $i >= 1 {
      --el-color-gray-#{$i}: #{mix($color-black, $color-white, math.percentage(math.div($i, 10)))};
    } @else {
      --el-color-gray-0#{$i * 10}: #{mix($color-black, $color-white, math.percentage(math.div($i, 10)))};
    }
  }
  
  --el-text-color-primary: #{$color-text-primary};
  --el-text-color-regular: #{$color-text-regular};
  --el-text-color-secondary: #{$color-text-secondary};
  --el-text-color-placeholder: #{$color-text-placeholder};
  
  --el-border-color-base: #{$border-color-base};
  --el-border-color-light: #{$border-color-light};
  --el-border-color-lighter: #{$border-color-lighter};
  --el-border-color-extra-light: #{$border-color-extra-light};
  
  --el-bg-color: #{$bg-color};
  --el-body-bg-color: #{$body-bg-color};
  
  --el-border-width-base: #{$border-width-base};
  --el-border-style-base: solid;
  --el-border-color-hover: var(--el-text-color-placeholder);
  --el-border-base: var(--el-border-width-base) var(--el-border-style-base) var(--el-border-color-base);
  
  --el-border-radius-base: #{$border-radius-base};
  --el-border-radius-small: #{$border-radius-small};
  --el-border-radius-round: 20px;
  --el-border-radius-circle: 100%;
  
  --el-box-shadow-base: #{$box-shadow-base};
  --el-box-shadow-light: #{$box-shadow-light};
  
  --el-svg-monochrome-grey: var(--el-color-gray-1);
  --el-fill-base: var(--el-color-white);
  
  --el-font-size-extra-large: 20px;
  --el-font-size-large: #{$font-size-large};
  --el-font-size-medium: 16px;
  --el-font-size-base: #{$font-size-base};
  --el-font-size-small: #{$font-size-small};
  --el-font-size-extra-small: #{$font-size-tiny};
  --el-font-weight-primary: #{$font-weight-primary};
  --el-font-line-height-primary: #{$font-line-height-primary};
  --el-font-color-disabled-base: #{$font-color-disabled-base};
  
  --el-index-normal: #{$index-normal};
  --el-index-top: #{$index-top};
  --el-index-popper: #{$index-popper};
  
  --el-disabled-bg-color: var(--el-bg-color);
  --el-disabled-text-color: var(--el-text-color-placeholder);
  --el-disabled-border-color: var(--el-border-color-light);
  
  --el-scrollbar-bg-color: #{$scrollbar-bg-color};
  --el-scrollbar-hover-bg-color: #{$scrollbar-hover-bg-color};
  
  --el-transition-duration: #{$default-transition-time};
  --el-transition-duration-fast: 0.2s;
  --el-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
  --el-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
  --el-transition-all: all var(--el-transition-duration) var(--el-transition-function-ease-in-out-bezier);
  --el-transition-fade: opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
  --el-transition-md-fade: transform var(--el-transition-duration) var(--el-transition-function-fast-bezier),
  opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
  --el-transition-fade-linear: opacity var(--el-transition-duration-fast) linear;
  --el-transition-border: border-color var(--el-transition-duration-fast)
  var(--el-transition-function-ease-in-out-bezier);
  --el-transition-color: color var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
  
  // foundi variables
  --fd-bg-color-hover: #{$bg-color-hover};
  --fd-app-tags-bg-color: #{$app-tags-bg-color};
  --fd-app-title-bg-color: #{$app-title-bg-color};
  
  --fd-sidebar-back-color: #{$sidebar-back-color};
  --fd-sidebar-text-color: #{$sidebar-text-color};
  --fd-sidebar-text-placeholder-color: #{$sidebar-text-placeholder-color};
  --fd-sidebar-hover-color: #{$sidebar-hover-color};
  --fd-sidebar-active-color: #{$sidebar-active-color};
  --fd-sidebar-active-text-color: #{$sidebar-active-text-color};
  --fd-sidebar-active-hover-color: #{$sidebar-active-hover-color};
  --fd-sidebar-bg-img: #{$sidebar-background-img};
  --fd-sidebar-bg-color: #{$sidebar-back-color};
}
