@use '../base/src/assets/style/variable' as *;
@use '../base/src/assets/style/mixin' as *;

// fd-page
.fd-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 8px 16px 0 16px;
  
  &__sub-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 20px;
    padding: 0 0 0 16px;
    border-left: 3px solid var(--el-color-primary);
    margin-bottom: 32px;
    color: var(--el-text-color-regular);
    font-weight: $font-weight-bold;
    
    &.is-has-icon {
      border: none;
      
      .fd-icon {
        font-size: 24px;
        margin-right: 8px;
      }
    }
    
    .title-text {
      flex: 1;
      display: inline-block;
      height: 20px;
      line-height: 20px;
      overflow: hidden;
    }
    
    .title-brief {
      height: 20px;
      overflow: hidden;
      font-weight: normal;
    }
  }
  
  &__form {
    padding: 16px 16px;
    border: 1px solid var(--el-border-color-lighter);
    border-radius: var(--el-border-radius-base);
    background-color: var(--el-fill-color-blank);
    margin-bottom: 8px;
  }
  
  &__split-pane {
    height:auto;
    flex: 1;
    overflow: hidden;
    
    .fd-split-pane__pane.is-right {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      .fd-virtual-grid {
        flex: 1;
      }
    }
  }
}

// fd-page-footer
.fd-page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $app-footer-height;
  padding: 16px 0 16px;
  margin-top: auto;
  color: var(--el-text-color-placeholder);
  user-select: none;
  
  &__icon {
    height: 16px;
    width: 16px;
    color: var(--el-text-color-placeholder);
    margin-right: 4px;
  }
  
  &__text {
    display: flex;
    justify-content: center;
    color: var(--el-text-color-placeholder);
    font-size: var(--el-font-size-extra-small);
  }
}

// fd-page-query
.fd-page-query {
  padding: 16px 0;
  margin-bottom: 0;
  
  .fd-page__sub-title {
    margin: 0 16px 16px 16px;
  }
  
  &__scrollbar {
    padding: 0 16px;
  }
  
  &__act {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .el-form-item {
    margin: 16px 0 8px 0;
  }
  
  .el-form-item__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
