@use '../base/src/assets/style/variable' as *;
@use '../base/src/assets/style/mixin' as *;

// fd-page-toolbar
.fd-page-toolbar {
  padding: 16px 16px 0 16px;
  border: 1px solid var(--el-border-color-lighter);
  border-radius: var(--el-border-radius-base);
  background-color: var(--el-fill-color-blank);
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  
  &__left, &__center, &__right {
    display: flex;
    align-items: center;
    height: 32px;
    margin-bottom: 16px;
  }
  
  &__left {
    .query-compact {
      .el-form-item {
        margin-bottom: 0;
      }
      
      .el-form-item__label {
        padding: 0;
      }
      
      .el-form--inline .el-form-item {
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  
  &__center {
    flex: 1;
    justify-content: space-between;
  }
  
  &__pagination {
    display: flex;
    align-items: center;
    
    .el-pagination {
      padding: 0;
    }
    
    .pagination-current {
      padding: 0 16px;
      font-size: var(--el-font-size-extra-small);
      color: var(--el-text-color-regular);
      white-space: nowrap;
    }
  }
  
  &__icon-btn {
    color: var(--el-text-color-placeholder);
    
    &:hover {
      color: var(--el-text-color-placeholder);
    }
  }
  
  &__badge {
    margin-right: 12px;
    sup {
      height: 12px;
      line-height: 12px;
      border: none;
      border-radius: 10px;
      transform: translateY(-30%) translateX(100%) !important;
    }
  }
  
  &__divider {
    margin: 0 8px;
    height: 32px;
  }
  
  &__pagination {
    padding-top: 0;
  
    .pagination-current {
      height: 48px;
      display: flex;
      align-items: center;
      font-size: var(--el-font-size-base);
    
      .current-text {
        margin-right: 8px;
      }
    
      .current-icon {
        transform: rotate(90deg);
        font-size: $icon-size-small;
        transition: transform $default-transition-time;
        &.is-expanded {
          transform: rotate(-90deg);
        }
      }
    }
  
    .pagination-page {
      padding-bottom: 16px;
      @include expandTransition($default-transition-time);
    }
  
    &.is-mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--fd-app-title-bg-color);
      border-bottom: 1px solid var(--el-border-color);
      border-radius: 0 !important;
    }
  }
}
