@use '../base/../base/src/assets/style/variable.scss' as *;
@use '../base/src/assets/style/mixin.scss' as *;

$tags-inner-height: $app-tags-height - 8;

// fd-router-tags
.fd-router-tags {
  display: flex;
  padding-top: 8px;
  background-color: var(--fd-app-tags-bg-color);
  width: 100%;
  height: $app-tags-height;
  
  &__list {
    width: 100%;
    display: flex;
    
    &:after {
      content: ' ';
      flex-shrink: 0;
      height: $tags-inner-height;
      width: 16px;
    }
  }
  
  &__item {
    display: inline-block;
    position: relative;
    height: $tags-inner-height;
    color: var(--el-text-color-primary);
    font-size: $app-tags-font-size;
    border-radius: $app-tags-radius $app-tags-radius 0 0;
    
    &.is-active {
      background-color: var(--el-bg-color-page);
      color: var(--el-text-color-primary);
      border-color: var(--el-bg-color-page);
      
      &:hover {
        background-color: var(--el-bg-color-page);
      }
    }
    
    &:hover {
      color: var(--el-text-color-primary);
      background-color: var(--el-color-primary-light-9);
    }
    
    &:first-child {
      margin-left: 8px;
    }
    
    .item-title {
      position: relative;
      display: inline-block;
      height: $tags-inner-height;
      line-height: $tags-inner-height;
      padding: 0 8px 0 36px;
      cursor: pointer;
    }
    
    .item-close {
      position: relative;
      display: inline-block;
      height: $tags-inner-height;
      line-height: $tags-inner-height;
      padding: 0 12px 0 4px;
      vertical-align: bottom;
      cursor: pointer;
      
      &__icon {
        border-radius: 50%;
        color: var(--el-text-color-secondary);
      }
      
      &:hover {
        .item-close__icon {
          padding: 2px;
          color: var(--el-bg-color-page);
          background-color: var(--el-text-color-placeholder);
        }
      }
    }
    
    .item-affix {
      display: inline-block;
      height: $tags-inner-height;
      vertical-align: bottom;
      width: 32px;
    }
  }
  
  &__ops {
    display: flex;
    align-items: center;
    margin-right: 16px;
    color: var(--el-text-color-placeholder);
    
    .el-button {
      margin: 0;
    }
    
    &.is-left {
      margin: 0 0 0 16px;
    }
  }
  
  &__menu {
    // font-size: $font-size-small;
  }
}

// fd-router-tags fd-scroll-panel
.fd-router-tags {
  .fd-scroll-panel {
    .el-scrollbar__bar {
      bottom: -6px;
    }
    
    .el-scrollbar__wrap {
      height: 56px;
    }
    
    .scrollbar-track-x {
      bottom: 0;
      height: 0;
      
      .scrollbar-thumb-x {
        height: 0;
        border-radius: 0;
      }
    }
  }
}

// fd-router-tags__item round corner style
.fd-router-tags__item {
  &:before,
  &:after {
    position: absolute;
    display: none;
    bottom: 0;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 100%;
    box-shadow: 0 0 0 40px var(--el-bg-color-page);
  }
  
  &:before {
    left: -20px;
    clip-path: inset(50% -10px 0 50%);
  }
  
  &:after {
    clip-path: inset(50% 50% 0 -10px);
  }
  
  &.is-active {
    z-index: 1;
    &:before,
    &:after {
      display: inline-block;
    }
    &:hover {
      &:before,
      &:after {
        box-shadow: 0 0 0 40px var(--el-bg-color-page);
      }
    }
  }
  
  &:hover {
    &:before,
    &:after {
      display: inline-block;
      box-shadow: 0 0 0 40px var(--el-color-primary-light-9);
    }
  }
  
  @include theme($sharp-mode) {
    border-radius: 0;
    
    &.is-active::before,
    &.is-active::after,
    &:hover::before,
    &:hover::after {
      display: none;
    }
  }
}
