@use 'src/assets/style/variable' as *;
@use 'src/assets/style/mixin' as *;

// icon-btn
@mixin btnColor($ns: 'default') {
  $text: 'var(--el-color-' + $ns + ')';
  $color: $ns;
  
  @if $ns == 'default' {
    $text: 'var(--el-text-color-regular)';
    $color: 'primary';
  }
  
  &.el-button--#{$ns} {
    color: #{$text};
    background: none;
    
    &:hover {
      color: var(--el-color-#{$color});
      background-color: var(--el-color-#{$color}-light-9);
    }
    
    &:focus {
      background: none;
      
      &:hover {
        color: var(--el-color-#{$color});
        background-color: var(--el-color-#{$color}-light-9);
      }
    }
    
    &:active {
      border: 1px solid var(--el-color-#{$color}-light-7)
    }
    
    @include theme-d() {
      &:hover {
        background-color: var(--el-color-#{$color}-light-5);
      }
      &:focus {
        &:hover {
          background-color: var(--el-color-#{$color}-light-5);
        }
      }
      &:active {
        border: 1px solid var(--el-color-#{$color}-light-2)
      }
    }
  
    &.is-disabled {
      color: var(--el-text-color-placeholder);
    
      &:hover {
        color: var(--el-text-color-placeholder);
        background: none;
      }
    
      &:focus {
        color: var(--el-text-color-placeholder);
        background: none;
      
        &:hover {
          color: var(--el-text-color-placeholder);
          background: none;
        }
      }
    
      &:active {
        border: none;
      }
    
      @include theme-d() {
        color: var(--el-text-color-placeholder);
        background: none;
      
        &:hover {
          background: none;
        }
        &:focus {
          &:hover {
            background: none;
          }
        }
        &:active {
          border: none;
        }
      }
    }
  }
}

// fd-button
.fd-button {
  
  &.is-no-label {
    .fd-button__icon {
      margin: -1px 0 0 0;
  
      &.is-right {
        margin: -1px 0 -1px 0;
      }
    }
  }
  
  &.is-circle {
    width: 32px;
  }
  
  &.is-icon {
    width: 32px;
    border-radius: var(--el-border-radius-base) !important;
    border: none;
    background: none;
    
    @include btnColor();
    @include btnColor('primary');
    @include btnColor('success');
    @include btnColor('warning');
    @include btnColor('danger');
    @include btnColor('info');
  }
  
  &.is-toolbar {
    width: 48px;
    height: 48px;
    padding: 4px;
    border: none;
    border-radius: $border-radius-base;
    
    & > span {
      flex-direction: column;
    }
    
    .fd-button__icon {
      margin: 0;
      font-size: $icon-size-base;
    }
  
    .fd-button__label {
      font-size: $font-size-tiny;
      margin-top: 4px;
    }
    
    @include theme-s() {
      border-radius: 0;
    }
  
    @include btnColor();
    @include btnColor('primary');
    @include btnColor('success');
    @include btnColor('warning');
    @include btnColor('danger');
    @include btnColor('info');
    
  }
}
