@use 'src/assets/style/variable' as *;

// breadcrumb
.fd-breadcrumb {
  display: inline-block;
  margin-left: 20px;
  font-size: $app-title-font-size;
  cursor: text;
  
  &__no-redirect,
  &__with-redirect {
    padding: 8px 5px;
  }
  
  &__with-redirect {
    color: var(--el-color-primary);
    font-weight: normal;
    border-radius: var(--el-border-radius-base);
    cursor: pointer;
    
    &:hover {
      background: var(--el-color-primary-light-9);
    }
  }
}

.fd-breadcrumb.el-breadcrumb {
  .el-breadcrumb__inner a {
    font-weight: normal;
  }
}

.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all 0.5s;
}

.breadcrumb-leave-active {
  position: absolute;
}
