@use 'sass:map';
@use 'src/assets/style/variable' as *;

// el-drawer
.el-drawer {
  box-shadow: $box-shadow-dark;
  
  .el-drawer__body {
    display: flex;
    
    .drawer-content {
      flex: 1;
    }
  }
}

// fd-drawer
.fd-drawer {
  .el-drawer__body {
    flex: 1;
    flex-direction: column;
    padding: 0;
  }
  
  &__content {
    height: 100%;
    color: var(--el-text-color-regular);
    
    .fd-drawer__scroll {
      padding-top: 30px;
    }
  }
  
  &__title {
    padding: 20px 20px 10px;
    display: flex;
    align-items: center;
    height: 62px;
    
    .title-icon {
      font-size: $icon-size-large;
      margin-right: 8px;
      align-self: center;
    }
    
    .title-text {
      text-align: center;
      font-size: $font-size-large;
    }
    
    .title-button {
      position: absolute !important;
      top: 20px;
      right: 20px;
    }
  }
  
  &__main {
    flex: 1;
    padding: 0 20px 30px 20px;
  }
  
  &.has-footer {
    .fd-drawer__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      .el-scrollbar {
        height: auto;
      }
    }
    
    .fd-drawer__footer {
      height: 86px;
      padding: 30px 20px 20px 20px;
    }
  }
  
  &__footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
}
