@use 'src/assets/style/variable' as *;

// fd-icon
.fd-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  
  &.is-primary {
    color: var(--el-color-priamry);
  }
  
  &.is-success {
    color: var(--el-color-success);
  }
  
  &.is-danger {
    color: var(--el-color-danger);
  }
  
  &.is-warning {
    color: var(--el-color-warning);
  }
  
  &.is-info {
    color: var(--el-color-info);
  }
  
  &:focus {
    outline: 0;
  }
  
  &.is-in-btn {
    margin: -1px 4px 0 0;
    font-size: $icon-size-small;
    
    &.is-right {
      margin: -1px 0 -1px 4px;
    }
  }
  
  &.is-tip {
    color: var(--el-text-color-placeholder);
  }
  
  &.is-loading {
    // animation: rotating 1s linear infinite;
  }
}

// fd-icon in el-input
.icon-in-input {
  padding: 0 0 0 4px;
  color: $color-text-primary;
  font-size: 16px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

// fd-icon-list
.fd-icon-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: var(--el-color-white);
  
  &__search {
    width: 100%;
    margin-bottom: 10px;
  }
  
  &__append {
    width: 100px;
    height: 0;
  }
  
  &__cell {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
    border-radius: var(--el-border-radius-base);
    transition: 0.5s;
    
    &:hover {
      background-color: var(--el-color-primary-light-9);
      cursor: pointer;
      transition: 0.2s;
    }
    
    &.selected {
      background-color: var(--el-color-primary-light-9);
      
      .fd-icon-list__icon {
        color: var(--el-color-primary);
      }
      
      .fd-icon-list__label {
        color: var(--el-color-primary);
      }
    }
  }
  
  &__icon {
    margin: 0 20px;
    font-size: $icon-size-large;
    word-wrap: break-word;
    color: var(--el-color-primary);
  }
  
  &__label {
    padding: 5px;
    color: var(--el-text-color-regular);
    font-size: 11px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
  }
  
  &.is-no-label {
    .fd-icon-list__append {
      width: 64px;
      height: 0;
    }
    
    .fd-icon-list__label {
      display: none;
    }
  }
}

// fd-icon-selector
.fd-icon-selector {
  .el-input__inner {
    padding-left: 40px;
  }
  
  &__icon {
    display: flex;
    height: 100%;
    margin: 0 10px;
    font-size: $icon-size-middle;
    color: var(--el-text-color-regular);
  }
}
