@use 'src/assets/style/variable' as *;

.fd-virtual-grid {
  width: 100%;
  position: relative;
  overflow: hidden;
  
  &__inner {
    box-sizing: border-box;
    display: grid;
    justify-items: center;
  }
  
  &__placeholder {
    display: flex;
    align-items: stretch;
    overflow: hidden;
  }
  
  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: $index-mask;
  }
  
  &.is-window {
    .fd-virtual-grid__loading {
      position: fixed;
      left: 0;
    }
  }
}
