@use '../../variable' as *;
@use '../../mixin' as *;

.fd-contextmenu {
  display: block;
  margin: 0;
  padding: 4px 0;
  font-size: var(--el-font-size-base);
  color: var(--el-text-color-primary);
  white-space: nowrap;
  list-style: none;
  border: 1px solid var(--el-border-color-base);
  border-radius: $border-radius-base;
  background-color: var(--el-fill-base);
  box-shadow: var(--el-box-shadow-base);
  
  &__item {
    display: flex;
    align-items: center;
    height: 38px;
    padding: 8px 4px 8px 16px;
    min-width: 150px;
    cursor: pointer;
    
    &.is-hover {
      background-color: var(--el-bg-color);
    }
    
    &.is-disabled {
      color: var(--el-text-color-placeholder);
      cursor: not-allowed;
    }
  
    &.is-primary {
      color: var(--el-color-primary);
    }
  
    &.is-success {
      color: var(--el-color-success);
    }
  
    &.is-warning {
      color: var(--el-color-warning);
    }
  
    &.is-danger {
      color: var(--el-color-danger);
    }
  
    &.is-info {
      color: var(--el-color-info);
    }
  }
  
  &__item-icon {
    margin-right: 8px;
    font-size: $icon-size-middle;
  }
  
  &__item-text {
    flex: 1;
  }
  
  &__divider {
    height: 0;
    margin: 4px 0;
    border-bottom: 1px solid var(--el-border-color-base);
  }
  
  &__submenu {
    position: relative;
    
    & > .fd-contextmenu {
      position: absolute;
      
      &.left {
        left: 0;
        transform: translateX(-100%);
      }
      
      &.right {
        right: 0;
        transform: translateX(100%);
      }
      
      &.top {
        top: -5px;
      }
      
      &.bottom {
        bottom: -5px;
      }
    }
  }
  
  @include theme-s() {
    border-radius: 0;
  }
}
