@use '../../variable.scss' as *;

// fd-code-editor
.fd-code-editor {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  
  .CodeMirror {
    flex: 1;
    text-align: left !important;
    font-size: var(--el-font-size-base);
    z-index: 1;
    background: none !important;
    
    .CodeMirror-code {
      line-height: 19px;
    }
    
    .CodeMirror-lines {
      padding: 4px 0;
    }
    
    .CodeMirror-overlayscroll-horizontal div,
    .CodeMirror-overlayscroll-vertical div {
      position: absolute;
      background: var(--el-scrollbar-bg-color, var(--el-text-color-secondary));
      opacity: var(--el-scrollbar-opacity, 0.3);
      &:hover {
        opacity: var(--el-scrollbar-hover-opacity, 0.5);
      }
    }
    
    .CodeMirror-overlayscroll-horizontal div {
      margin-bottom: 2px;
    }
    
    .CodeMirror-overlayscroll-vertical div {
      margin-right: 2px;
    }
  }
  
  &.bordered {
    border: 1px solid var(--el-border-color-base);
    border-radius: var(--el-border-radius-base);
  }
}
