@use '../../variable.scss' as *;

.fd-split-pane {
  display: flex;
  align-items: stretch;
  height: 100%;
  position: relative;
  
  &__resizer {
    align-self: stretch;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    
    &:hover {
      background-color: var(--el-color-gray-2);
    }
  }
  
  &__resizer-ghost {
    position: absolute;
    background-color: var(--el-color-gray-2);
    z-index: $index-popper;
  }
  
  &__pane {
    overflow: hidden;
  }
  
  &__mask {
    z-index: $index-popper;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  &.is-vertical {
    flex-direction: row;
    
    .fd-split-pane__resizer {
      width: 8px;
      height: auto;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAeCAYAAAAGos/EAAAAJklEQVQYlWM8c+bMfwYGBgYmEAECjP//gwUQIixnz54dAWoYGBgAwRIwW7Zq4jkAAAAASUVORK5CYII=');
      cursor: col-resize;
    }
    
    .fd-split-pane__resizer-ghost {
      width: 8px;
      height: 100%;
    }
  }
  
  &.is-horizontal {
    flex-direction: column;
    
    .fd-split-pane__resizer {
      width: auto;
      height: 8px;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAACCAYAAABPJGxCAAAAJElEQVQImWM8c+bMfwYGBgZjY2NGEH327Fm68JlABN0BAwMDAIKiH2fCZyKfAAAAAElFTkSuQmCC');
      cursor: row-resize;
    }
    
    .fd-split-pane__resizer-ghost {
      width: 100%;
      height: 8px;
    }
  }
  
  &.is-shrink-left {
    > .fd-split-pane__pane.is-left {
      flex: 1;
    }
  }
  
  &.is-shrink-right {
    > .fd-split-pane__pane.is-right {
      flex: 1;
    }
  }
  
  &.is-animation {
    &.is-shrink-left {
      > .fd-split-pane__pane.is-right {
        transition: all $default-transition-time;
      }
    }
    
    &.is-shrink-right {
      > .fd-split-pane__pane.is-left {
        transition: all $default-transition-time;
      }
    }
  }
}
