// el-pagination
.el-pagination {
  margin-top: 16px;
  text-align: right;
  
  &.is-background {
    .btn-next,
    .btn-prev,
    .el-pager li {
      border-radius: var(--el-border-radius-small);
    }
  }
}

.el-pagination {
  align-self: center;
  padding: 16px 0 0;
  margin-top: 0;
}
